<% content_for :seeker_side_bar do %>

<div class="grid_3 alpha" style="position: relative; top: -20px;" >
  <div class="contentBox">
    <h2><%= @seeker.user.name %></h2>
      <%= link_to "Home", '/profile', :class => "hoverGreen"  %>
      <br />
      <%= link_to "View Profile", {:controller => "seekers", :action => "public", :id => @seeker.id}, :class => "hoverGreen"  %>
      <br />
      <%= link_to "Edit Profile", {:controller => "seekers", :action => "edit"}, :class => "hoverGreen"  %>
    <h2>Resumes</h2>
    <div>
      <%= link_to 'View Resumes', resumes_path, :class => "hoverGreen" %><br />
      <%= link_to 'Upload Resume', new_resume_path, :class => "hoverGreen" %>
    </div>

   </div><!-- end contentBox -->
</div>
<%-end-%>
