<%= render :partial => 'sidebar' %>
<fieldset>
  <legend>Edit Company Profile</legend>

  <div style="padding-left: 10px;">
    <%= error_messages_for :user %>
  </div>

  <% form_for @user, :url => "/employers/update" do |f| %>

  <div class="group">
    <div class="field">
      <%= f.label :email %><%= required_field %><br />
      <%= f.text_field :email, :size => 38, :class => "textfield" %>
    </div>
  </div>

  <div class="group">
    <div class="field">
      <%= f.label :first_name %><%= required_field %><br />
      <%= f.text_field :first_name, :size => 12, :class => "textfield"%>
    </div>
    <div class="field">
      <%= f.label :last_name %><%= required_field %><br />
      <%= f.text_field :last_name, :size => 20, :class => "textfield" %>
    </div>
  </div>

  <%= render :partial => 'employer', :locals => {:f => f}%>


  <div class="group">
    <div class="field">
      <%= hidden_field_tag :id, @user.id %>
      <%= f.submit "Update" %>
    </div>
  </div>

  <%-end-%>
</fieldset>
